<article class="comment">
  <div class="flex gap-3 items-center">
    <div class="flex items-center gap-2">
      <span class="avatar"></span>
      <p class="text-sm"><%= comment.user.email %></p>
    </div>
    <span class="dot-divider mt-1"></span>
    <p class="text-sm"><%= time_ago_in_words(comment.created_at) %> ago</p>
    <div class="flex gap-4 items-center ml-auto">
      <%= turbo_frame_tag(dom_id(comment, :controls)) do %>
        <% if author %>
          <%= render(partial: 'comments/controls', locals: { comment: }) %>
        <% else %>
          <% if author_of_post? %>
            <span class="badge">
              Author of post
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= turbo_stream_from(dom_id(comment, :content)) %>
  <%= render(partial: 'comments/content', locals: { comment: }) %>
  <div class="relative flex items-center gap-2">
    <%= turbo_stream_from(dom_id(comment, :like_count), class: "absolute") %>
    <%= turbo_frame_tag(dom_id(comment, :likes)) do %>
      <% if author || !user %>
        <%= render(partial: 'partials/like', locals: { target: comment }) %>
      <% else %>
        <%= render(partial: 'partials/like_form', locals: { user:, target: comment, path: toggle_like_comment_path(comment) }) %>
      <% end %>
    <% end %>
  </div>
  <%= render(Comment::Replies::Component.new(comment:, replies: comment.replies, user:)) %>
</article>