<section class="flex flex-col gap-4 flex-10 max-w-full lg:w-full lg:grid lg:grid-cols-12 lg:grid-flow-col lg:gap-12 py-4 lg:py-12 lg:max-w-[1200px] mx-auto">
  <aside class="flex flex-col gap-4 lg:h-max lg:sticky lg:top-28 lg:col-start-9 lg:col-end-13">
    <%= render(Avatar::Component.new(user: @user, size: "5xl")) %>
    <h1 class="text-lg font-medium"><%= @user.name %></h1>
    <p><%= @user.bio %></p>
    <div class="flex items-center gap-2 text-sm text-zinc-200">
      <%= icon("calendar", class_name: "size-4", variant: :outline) %>
      <span class="">Joined:</span>
      <p><%= @user.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="flex flex-col gap-2 mt-2 pt-4 border-t border-zinc-800">
      <div class="flex items-center gap-2 text-sm text-zinc-200">
        <%= icon("notes", class_name: "size-5", variant: :outline) %>
        <p>
          <%= number_to_human(@posts.count, format: "%n%u", units: { thousand: "K" }) %>
          posts published
        </p>
      </div>
      <div class="flex items-center gap-2 text-sm text-zinc-200">
        <%= icon("message", class_name: "size-5", variant: :outline) %>
        <p>
          <%= number_to_human(@comments.count, format: "%n%u", units: { thousand: "K" }) %>
          comments written
        </p>
      </div>
    </div>
  </aside>
  <div class="lg:col-start-1 lg:col-end-9">
    <%= render(Tabs::Component.new(class_name: "h-full pt-12 lg:pt-0")) do |c| %>
      <%= c.with_button(id: "posts") do %>
        Posts
      <% end %>
      <%= c.with_panel(id: "posts", class_name: "h-full pt-12") do %>
        <% if @posts.any? %>
          <ul class="flex flex-col gap-4">
            <% @posts.each do |post| %>
              <li>
                <%= render(Post::Component.new(post: post, current_user: current_user)) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="flex flex-col justify-center items-center gap-8 h-full">
            <p>You have no posts yet. Why not create one?</p>
            <%= link_to(new_dashboard_post_path, class: "btn-secondary btn-md") do %>
              Create your first post
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>