<section class="flex flex-col gap-4 flex-1 lg:grid lg:grid-cols-12 lg:grid-flow-col lg:gap-12 py-4 lg:py-12 lg:max-w-[1200px] mx-auto">
  <aside class="flex flex-col gap-4 lg:h-max lg:sticky lg:top-28 lg:col-start-9 lg:col-end-13">
    <%= render(Common::Avatar::Component.new(user: @user, class_name: "size-32")) %>
    <h1><%= @user.name %></h1>
    <p><%= @user.bio %></p>
    <div class="flex items-center gap-2 text-sm text-zinc-200">
      <%= icon("calendar", class_name: " w-4 h-4", variant: :outline) %>
      <span class="">Joined:</span>
      <p><%= @user.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </aside>
  <div class="lg:col-start-1 lg:col-end-9">
    <%= render(Common::Tabs::Component.new(class_name: "h-full")) do |c| %>
      <%= c.with_button(id: "posts") do %>
        Posts
      <% end %>
      <%= c.with_panel(id: "posts", class_name: "h-full pt-12") do %>
        <% if @posts.any? %>
          <ul class="flex flex-col gap-4">
            <% @posts.each do |post| %>
              <li>
                <%= render(Post::Component.new(post: post, current_user: current_user)) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="flex flex-col justify-center items-center gap-8 h-full">
            <p>You have no posts yet. Why not create one?</p>
            <%= link_to(new_dashboard_post_path, class: "btn-secondary btn-md") do %>
              Create your first post
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>