<h2>Resend confirmation instructions</h2>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |form| %>
  <div class="field">
    <%= form.label(:email) %><br />
    <%= form.email_field(:email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)) %>
    <%= render(Common::ErrorMessages::Component.new(form: form, field: :email)) %>
  </div>
  <div class="actions">
    <%= form.submit("Resend confirmation instructions") %>
  </div>
<% end %>
<%= render(partial: "devise/shared/links") %>
