<%= turbo_frame_tag(dom_id(reply, :content)) do %>
  <%= form_with(model: [ reply.comment, reply ],
   local: false,
   html: { class: "form max-w-full mb-4", data: { controller: "comment-form", "comment-form-target": "form" } }
  ) do |form| %>
    <div class="flex flex-col gap-4">
      <div class="field"">
        <%= form.label(:content, class: "hidden") %>
        <div class="trix-wrapper">
          <%= form.rich_text_area(:content,
            id: "reply_#{reply.comment.id}[content]",
            class: "rich-textarea trix-content",
            data: { autofocus: true, controller: "trix" },
            name: "reply_#{reply.comment.id}[content]",
            placeholder: "Leave a reply"
          ) %>
          <%= render(Common::ErrorMessages::Component.new(form: form, field: :content)) %>
        </div>
        <div class="flex gap-4">
          <%= form.button(
            class: "btn-secondary btn-md",
            data: { "comment-form-target": "submit" },
            disabled: true
          ) %>
          <%= link_to("Cancel",
            reply.comment.post,
            class: "btn-cancel btn-md",
            data: { action: "#{"click->comment-form#closeForm" if reply.new_record?}" }
          ) %>
        </div>
      </div>
    <% end %>
  <% end %>