<section class="flex flex-col items-center gap-32 flex-1">
  <hgroup class="flex flex-col gap-4 pt-32">
    <h1 class="text-5xl font-medium text-center">
      Sign <span class="text-violet-500">Up</span>
    </h1>
  </hgroup>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |form| %>
    <div class="field">
      <%= form.label(:email, class: "input-label") %>
      <%= form.email_field(:email, autofocus: true, autocomplete: "email", class: "input") %>
      <%= render(Common::ErrorMessages::Component.new(form: form, field: :email)) %>
    </div>
    <div class="field">
      <%= form.label(:password, class: "input-label") %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= form.password_field(:password, autocomplete: "new-password", class: "input") %>
      <%= render(Common::ErrorMessages::Component.new(form: form, field: :password)) %>
    </div>
    <div class="field">
      <%= form.label(:password_confirmation, class: "input-label") %>
      <%= form.password_field(:password_confirmation, autocomplete: "new-password", class: "input") %>
      <%= render(Common::ErrorMessages::Component.new(form: form, field: :password)) %>
    </div>
    <div class="actions">
      <%= form.submit("Sign up", class: "btn-secondary mt-3") %>
    </div>
    <%= render(partial: "devise/shared/links") %>
  <% end %>
</section>
