<%= form_with(model: [ @blog_post, @comment ], id: dom_id(@comment), local: false, html: { class: "form mx-auto" }) do |form| %>
  <div class="flex flex-col gap-4">
  
    <div class="field">
      <%= form.label :content, class: "hidden" %>
      <div class="trix-wrapper">
      <%= form.rich_text_area :content, placeholder: "Leave a comment", class: "rich-textarea" %>
      </div>

      <%= render(ErrorMessages::Component.new(form: form, field: :content)) %>
    </div>
    <div class="flex">
      <%= form.button "Add comment", class: "btn-primary" %>
    </div>
  </div>
<% end %>