<%= form_with model: @blog_post, html: { class: "form" } do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= form.label :title, class: "input-label" %>
    <%= form.text_field :title, class: "input" %>
  </div>
  <div>
    <% if form.object.errors[:title].any? %>
      <ul>
        <% form.object.errors[:title].each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :content, class: "input-label" %>
    <%= form.rich_text_area :content, class: "textarea" %>
  </div>
  <div>
    <% if form.object.errors[:content].any? %>
      <ul>
        <% form.object.errors[:content].each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="actions">
    <%= form.button class: "btn-secondary mt-3" %>
  </div>
<% end %>
