<header class="sticky top-0 backdrop-blur-sm bg-zinc-900/20 py-6 px-6 shadow-md shadow-zinc-800/20 lg:px-12 z-[1]">
  <nav class="flex">
    <ul class="flex gap-4 items-center w-full lg:gap-8">
      <li class="flex">
        <%= link_to(posts_root_path) do %>
          <%= image_tag('logo', class: "w-24", alt: "Dev Blog logo") %>
        <% end %>
      </li>
      <li class="flex ml-auto">
        <%= link_to("Write post", new_post_path, class: "p-3 hover:text-violet-500 transition") %>
      </li>
      <% if user_signed_in? %>
        <%= render(Common::Dropdown::Component.new(position: 'left', menu_class: "top-16")) do |c| %>
          <% c.with_button(class_name: "p-0 rounded-full") do %>
            <span class="avatar h-10 w-10"></span>
          <% end %>
          <div class="px-2 pb-3 border-b border-zinc-700">
            <p><%= current_user.email %></p>
          </div>
          <li class="flex">
            <%= link_to("Profile", edit_user_registration_path, class: "menu-item") %>
          </li>
          <li class="flex">
            <%= button_to("Logout", destroy_user_session_path, method: :delete, form_class: "w-full", class: "menu-item") %>
          </li>
        <% end %>
      <% else %>
        <div class="flex items-center gap-3">
          <li class="flex">
            <%= link_to("Login", new_user_session_path, class: "btn-primary") %>
          </li>
          <li class="flex">
            <%= link_to("Sign up", new_user_registration_path, class: "btn-primary") %>
          </li>
        </div>
      <% end %>
    </ul>
  </nav>
</header>