<header class="sticky top-0 backdrop-blur-sm bg-zinc-900/20 py-2 px-4 md:px-6 shadow-md shadow-zinc-800/20 lg:px-12 z-[1]">
  <nav class="flex">
    <ul class="flex gap-4 items-center w-full lg:gap-8">
      <li class="flex">
        <%= link_to(posts_root_path) do %>
          <%= image_tag('logo', class: "w-16", alt: "Dev Blog logo") %>
        <% end %>
      </li>
      <div class="flex gap-4 items-center ml-auto">
        <% if !request.fullpath.include?(dashboard_posts_path) %>
          <li class="flex">
            <%= link_to("Write post", new_dashboard_post_path, class: "p-3 text-sm font-medium hover:text-violet-500 transition") %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <%= render(Common::Slideover::Component.new) do |c| %>
            <% c.with_trigger(variant: :unstyled) do %>
              <%= render(Avatar::Component.new(user: current_user)) %>
            <% end %>
            <div class="flex items-center gap-3 pt-2 pb-3 border-b border-zinc-800">
              <%= render(Avatar::Component.new(user: current_user, size: "md")) %>
              <div class="flex flex-col">
                <p class="text-sm text-zinc-100"><%= current_user.name %></p>
                <p class="text-xs text-zinc-500"><%= current_user.email %></p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <%= link_to(
                dashboard_root_path,
                class: "menu-item p-2 hover:bg-zinc-800 #{request.fullpath.include?(dashboard_root_path) ? 'bg-zinc-800' : ''}"
              ) do %>
                <%= icon("dashboard", class_name: "w-5 h-5", title: "Dashboard", variant: :outline) %>
                <span>dashboard</span>
              <% end %>
              <%= link_to(
                user_profile_path(current_user),
                class: "menu-item p-2 hover:bg-zinc-800 #{request.fullpath.include?(user_profile_path(current_user)) ? 'bg-zinc-800' : ''}"
              ) do %>
                <%= icon("person", class_name: "w-5 h-5", title: "Profile", variant: :outline) %>
                <span>profile</span>
              <% end %>
            </div>
            <div class="flex flex-col gap-2 pt-3 border-t border-zinc-800">
              <%= link_to(
                settings_profile_path,
                class: "menu-item p-2 hover:bg-zinc-800 #{request.fullpath.include?(settings_profile_path) ? 'bg-zinc-800' : ''}"
              ) do %>
                <%= icon("settings", class_name: "w-5 h-5", title: "Settings", variant: :outline) %>
                <span>settings</span>
              <% end %>
              <%= button_to(
                destroy_user_session_path,
                method: :delete,
                class: "menu-item p-2 hover:bg-zinc-800"
              ) do %>
                <%= icon("logout", class_name: "w-5 h-5", title: "Logout") %>
                <span>logout</span>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="flex items-center gap-3">
            <li class="flex">
              <%= link_to("Login", new_user_session_path, class: "btn-primary btn-md") %>
            </li>
            <li class="flex">
              <%= link_to("Sign up", new_user_registration_path, class: "btn-secondary btn-md") %>
            </li>
          </div>
        <% end %>
      </div>
    </ul>
  </nav>
</header>