<%= turbo_frame_tag(dom_id(@post, :content)) do %>
  <div class="flex flex-col gap-32">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-5xl font-medium text-center"><%= @post.title %></h1>
      <div class="flex gap-4 items-center">
        <p class="text-zinc-300">by</p>
        <%= render(Common::Avatar::Component.new(user: post.user)) %>
        <p class="text-zinc-500"><%= @post.user.email %></p>
        <p class="text-zinc-500"><%= @post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
    <%= @post.content %>
  </div>
<% end %>