<h2>Change your password</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
  <%= form.hidden_field(:reset_password_token) %>
  <div class="field">
    <%= form.label(:password, "New password") %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= form.password_field(:password, autofocus: true, autocomplete: "new-password") %>
    <%= render(Common::ErrorMessages::Component.new(form: form, field: :content)) %>
  </div>
  <div class="field">
    <%= form.label(:password_confirmation, "Confirm new password") %><br />
    <%= form.password_field(:password_confirmation, autocomplete: "new-password") %>
    <%= render(Common::ErrorMessages::Component.new(form: form, field: :password_confirmation)) %>
  </div>
  <div class="actions">
    <%= form.submit("Change my password") %>
  </div>
<% end %>
<%= render(partial: "devise/shared/links") %>
