<article class="<%= record.instance_of?(Comment) ? "comment" : "comment-reply" %>">
  <div class="flex gap-3 items-center">
    <span class="avatar"></span>
    <div class="flex items-center gap-2 w-full">
      <p class="text-sm font-medium truncate"><%= record.user.email %></p>
      <span class="dot-divider mt-1"></span>
      <p class="text-sm font-medium truncate"><%= time_ago_in_words(record.created_at) %> ago</p>
    </div>
    <div class="flex gap-4 items-center ml-auto">
      <%= turbo_frame_tag(dom_id(record, :controls)) do %>
        <% if author %>
          <%= render(partial: 'partials/comment_controls', locals: { record: }) %>
        <% else %>
          <% if author_of_post? %>
            <span class="badge">
              Author of post
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= turbo_stream_from(dom_id(record, :content)) %>
  <%= render(partial: 'partials/comment_content', locals: { record: }) %>
  <div class="flex flex-col" data-controller="custom-toggle">
    <div class="flex items-center gap-3">
      <%= turbo_stream_from(dom_id(record, :like_count), class: "absolute") %>
      <%= turbo_frame_tag(dom_id(record, :likes)) do %>
        <% if author || !user %>
          <%= render(partial: 'partials/like', locals: { target: record }) %>
        <% else %>
          <%= render(partial: 'partials/like_form', locals: { user: user, target: record, 
        path: record.instance_of?(Comment) ? toggle_like_comment_path(record) : toggle_like_comment_reply_path(record.comment, record) }) %>
        <% end %>
      <% end %>
      <% if replies %>
        <%= turbo_stream_from(dom_id(record, :replies_count), class: "absolute") %>
        <%= button_tag(
          class: "relative btn-primary btn-md flex items-center gap-1",
          data: { action: "click->custom-toggle#toggle touch->custom-toggle#toggle", "custom-toggle-target": "button" },
          type: "button"
        ) do %>
          <p>
            <%= render(partial: "replies/replies_count", locals: { comment: record, replies:}) %>
            <span>Replies</span>
          </p>
          <%= icon("chevron-down", class_name: "w-4 h-4", variant: :outline) %>
        <% end %>
        <%= link_to("Reply",
          user ? new_comment_reply_path(record) : new_user_session_path(alert: "You need to sign in or sign up before continuing."),
          class: "btn-primary btn-md",
          data: { action: "click->custom-toggle#show touch->custom-toggle#show", turbo_frame: "reply_content" },
          target: user ? nil : "_top"
        ) %>
      <% end %>
    </div>
    <% if replies %>
      <%= render(Replies::Component.new(comment: record, replies: replies, user:)) %>
    <% end %>
  </div>
</article>