<section class="relative flex flex-col pt-32 gap-40">
  <div class="relative grid grid-cols-1 md:grid-cols-2 xl:grid-cols-12 gap-20">
    <aside class="col-span-3">
    </aside>
    <article class="flex flex-col gap-12 col-span-6 w-full">
      <%= render(partial: 'partials/post_content', locals: { post: @post }) %>
      <div class="flex flex-col gap-6 w-full">
        <h2 class="text-3xl font-medium">
          Discussion
        </h2>
        <div class="flex flex-col gap-4">
          <%= turbo_stream_from(dom_id(current_user)) if current_user %>
          <%= turbo_stream_from("comments") %>
          <%= turbo_frame_tag("comments", class: "flex flex-col gap-4") do %>
            <% if @comments.any? %>
              <% @comments.each do |comment| %>
                <%= render(partial: 'comments/comment', locals: { author: comment.user == current_user, comment:, user: current_user, replies: comment.replies }) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= render(partial: 'comments/form', locals: { post: @post, comment: @comment }) %>
        <% else %>
          <p class="text-zinc-500 text-center">You need to <%= link_to("sign in", new_user_session_path, class: "text-violet-500") %> to add a comment</p>
        <% end %>
      </div>
    </article>
    <aside class="hidden sticky top-56 h-max xl:flex xl:flex-col gap-4 col-span-3">
      <div class="flex flex-col gap-4 rounded-lg border border-zinc-700 px-4 py-6">
        <p class="text-sm font-medium text-zinc-300 uppercase">Author</p>
        <div class="flex gap-4 items-center">
          <%= link_to(user_profile_path(@post.user.name), class: "min-w-max hover:opacity-80") do %>
            <%= render(Common::Avatar::Component.new(user: @post.user)) %>
          <% end %>
          <%= link_to(user_profile_path(@post.user.name), class: "link-primary") do %>
            <p class="text-sm truncate"><%= @post.user.name %></p>
          <% end %>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm font-medium text-zinc-300 uppercase">Joined</p>
          <p class="text-sm font-medium text-zinc-500"><%= @post.user.created_at.strftime("%B %d, %Y") %></p>
        </div>
        <% if @post.user == current_user %>
          <div class="flex flex-col gap-2">
            <%= link_to(edit_dashboard_post_path(@post), class: "btn-primary") do %>
              Edit post
            <% end %>
          </div>
        <% end %>
      </div>
    </aside>
  </div>
</section>
