<article class="flex flex-col gap-4 border-b border-zinc-800 py-4 w-full max-w-screen-sm">
  <div class="flex gap-3 items-center">
    <%= link_to(user_profile_path(post.user), class: "min-w-max hover:opacity-80") do %>
      <%= render(Avatar::Component.new(user: post.user)) %>
    <% end %>
    <%= link_to(user_profile_path(post.user), class: "link-primary") do %>
      <p class="text-sm truncate"><%= post.user.name %></p>
    <% end %>
    <span class="dot-divider mt-1"></span>
    <span class="text-zinc-500 text-sm min-w-max"><%= post.created_at.strftime("%B %d, %Y") %></span>
    <% if author? %>
      <div class="ml-auto">
        <%= render(Dropdown::Component.new(
          id: "post_#{post.id}_menu",
          position: 'left'
        )) do |c| %>
          <% c.with_button(id: "post_#{post.id}_controls") %>
          <%= link_to(edit_dashboard_post_path(post), class: "menu-item") do %>
            <%= icon("edit", title: "Edit post", class_name: "w-5 h-5") %>
            <span>edit</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to(post, class: "flex flex-col gap-3") do %>
    <h3 class="text-2xl font-medium"><%= post.title %></h3>
    <% if !post.content.nil? %>
      <p class="text-zinc-500">
        <%= post.content.body.to_plain_text.truncate(200) %>
      </p>
    <% end %>
  <% end %>
</article>