<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag("tailwind", "data-turbo-track": "reload") %>
    <%= stylesheet_link_tag("application", "data-turbo-track": "reload") %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col bg-zinc-900 text-zinc-100 min-h-screen">
    <% if notice %>
      <%= render(Common::Alert::Component.new(type: "notice", message: notice)) %>
    <% end %>
    <% if alert %>
      <%= render(Common::Alert::Component.new(type: "alert", message: alert)) %>
    <% end %>
    <%= turbo_frame_tag("modal") %>
    <%= render(partial: "partials/confirm_modal") %>
    <%= render(partial: "partials/header") %>
    <main class="flex flex-col flex-1 w-full px-4 md:px-8 xl:px-12">
      <%= yield %>
    </main>
    <footer class="flex justify-center p-12">
      <p class="text-zinc-300">
        © 
        <%= Time.now.year %>
        Blog</p>
    </footer>
  </body>
</html>
